/*http://tympanus.net/Development/IconHoverEffects/*/

html {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
  background-color: inherit;
}

.container {
    font-family: 'Source Sans Pro', sans-serif;
}

.v-card {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 516px;
    border: 5px solid #D64541;
    background: url(../images/bg-paper.jpg);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 32px 0 16px;
    -webkit-box-shadow: 0 10px 6px -6px #222;
    -moz-box-shadow: 0 10px 6px -6px #222;
    box-shadow: 0 10px 6px -6px #222;
}

.v-card .wrap-avatar{
    position: relative;
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.v-card .avatar{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 125px;
    height: 125px;
    border: 4px solid #D64541;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    transition: transform 1s;
}

    .v-card .wrap-avatar:hover .avatar {
        transform-origin: center center;
        -webkit-transform: rotate(180deg) scaleX(-1.2) scaleY(-1.2);
        -moz-transform: rotate(180deg) scaleX(-1.2) scaleY(-1.2);
        -ms-transform: rotate(180deg) scaleX(-1.2) scaleY(-1.2);
        transform: rotate(180deg) scaleX(-1.2) scaleY(-1.2);
        background-color: #D64541;
    }

    .v-card .wrap-avatar .avatar img {
        width: 100%;
        opacity: 1;
        -webkit-transition: opacity 0.5s 0s;
        -moz-transition: opacity 0.5s 0s;
        transition: opacity 0.5s 0s ;
    }

    .v-card .wrap-avatar .avatar .emo {
        position: absolute;
        top: -4px;
        left: -4px;
        width: 125px;
        height: 125px;
        line-height: 125px;
        text-align: center;
        font-size: 125px;
        color: #fff;
        opacity: 0;
        -webkit-transition: opacity 0.5s 0s;
        -moz-transition: opacity 0.5s 0s;
        transition: opacity 0.5s 0s ;
    }

    .v-card .wrap-avatar:hover .avatar img {
        opacity: 0;
    }

    .v-card .wrap-avatar:hover .avatar .emo {
        opacity: 1;
    }


.wrap-line {
    position: relative;
    margin-top: 20px;
    height: 20px;
}

    .wrap-line .line{
        border-bottom: 2px dotted #D64541;
        width: 50%;
        position: absolute;
    }

        .wrap-line .line.r{
            -webkit-transform: rotate( -10deg );
            -moz-transform: rotate( -10deg );
            -ms-transform: rotate( -10deg );
            transform: rotate( -10deg );
            right: 0;
        }

        .wrap-line .line.l{
            -webkit-transform: rotate( 10deg );
            -moz-transform: rotate( 10deg );
            -ms-transform: rotate( 10deg );
            transform: rotate( 10deg );
            left: 0;
        }

    .wrap-line .pins{
        position: absolute;
        height: 36px;
        width: 36px;
        left: 0;
        right: 0;
        top: 5px;
        margin-left: auto;
        margin-right: auto;
        line-height: 30px;
        font-size: 30px;
        text-align: center;
        color: #D64541;
    }

.about {
    margin: 20px 10px ;
}

.about h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 32px;
}

.about p {
    font-size: 20px;
}

.about p.tag {
    font-size: 14px;
    margin-bottom: 5px;
}

.about p.tag a {
    color: #D64541;
}

.links .fa {
    display: inline-block;
    position: relative;
    font-size: 0;
    z-index: 1;
    margin: 15px 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 0 2px #D64541;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.links .fa:hover {
    color: #fff;
    text-decoration: none;
}

.links .fa:before {
    display: block;
    font-size: 20px;
    line-height: 40px;
    text-transform: none;
}

.links .fa:after {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    padding: 2px;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    background: #D64541;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.links .fa:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}


@media (max-height: 516px) {
  .v-card {
    margin: 10px auto;
    position: relative;
  }
}
